<div class="font-mono grid grid-cols-2">
  <div>
    <h1 class="text-2xl underline pb-2">Hello, <%= current_user.username %></h1><br>
  </div>
  <div class="mx-auto">
    <% if !current_user.examples.empty? %>
    <h1 class="text-2xl underline pb-2">My Algorithms</h1>
      <ol class="list-decimal pl-10">
        <% current_user.examples.each do |example| %>
          <li><%= link_to example.algorithm.name, example_path(example), class: 'text-green-700' %></li>
        <% end %>
      </ol>
    <% else %>
      <div class="mt-16">
        <p>You do not have any algorithms yet. Add some <%= link_to 'here', new_algorithm_path, class: 'text-green-700' %></p>
      </div>
    <% end %>
  </div>
</div>

