<% if user_signed_in? %>
  Hello, <%= current_user.username %><br>
  <%= t('users.index.algorithm_count',
    count: current_user.algorithms.count,
    break: raw('<br>'),
    link_open: raw('<a href="/algorithms/new">'),
    link_close: raw('</a>')
  ) %>
<% end %></ul>
