<hr className="pt-4"></hr>
<span className="inline-block">
  <label>Select Language</label>
  <%= select_tag "examples", options_for_select(@languages, "--"), prompt: '---', onchange: "changeLanguage(this, #{@algorithm.id})" %>
  <% if @examples %>
    <% byebug %>
    <%= @language %>
    <% @examples.each do |example| %>
      <code>
        <pre><%= example %></pre>
      </code>
    <% end %>
  <% end %>
</span>