<div class="text-center"> 
  <label>Select Language</label>
  <%= select_tag "examples", options_for_select(@languages), prompt: '----', onchange: "changeLanguage(this, #{@algorithm.id})", onLoad: "changeLanguage(this, #{@algorithm.id})" %>
</div>
<hr class="pt-4"></hr>
<span class="inline-block">
  <%= @language %>
  <ol id="exampleSelect">
    <!-- JS renders examples here -->
  </ol>
</span>