  <h1>Algorithms</h1>
  <ol class="pl-4">
  <% if @algorithms.count > 0 %>
    <% @algorithms.map do |algorithm| %>
      <li><%= link_to algorithm.name, algorithm_path(algorithm) %></li>
    <% end %>
  </ol>
  <% end %>
  <%= link_to 'Add algorithm', new_algorithm_path %>
  <br>
