<div class="row mx-auto container">
  <div class="col-lg mx-auto min-vw-75">
    <%= react_component("Algorithm", { algorithm: @algorithm, examples: @algorithm.examples, key: @algorithm.id }, {prerender: true}) %>
  </div>
  <div class="text-center col-sm">
    <%= render 'form', f:@algorithm, a:@algorithm.examples, html: { class: 'text-right'} %>
  </div>
  <div class="row">
    <p>Add article about <%= @algorithm.name %> <%= link_to 'here', new_algorithm_articles_path(@algorithm) %></p>
  </div>
</div>