<div class="mx-auto row container">
  <div class="col-md">
    <%= react_component("Algorithm", { algorithm: @algorithm, examples: @algorithm.examples, key: @algorithm.id }, {prerender: true}) %>
  </div>
  <div class="col-sm text-center">
    <h3 class="pt-2">Add new example</h3>
    <%= render 'form', f:@algorithm, a:@algorithm.examples, html: { class: 'text-right'} %>
  </div>
</div>