<footer class="text-center pt-2 font-mono">
  <span class="inline-flex space-x-3 font-medium">
    <a href="https://cryptic-sierra-84151.herokuapp.com/" target="_blank"><img src="https://www.flaticon.com/svg/vstatic/svg/478/478543.svg?token=exp=1615134501~hmac=408936b61e4ca260466d757639c3d8a3" class="w-4 pt-0.5"></a>
    <a href="https://github.com/PBillingsby/algorithm-db" target="_blank"><img src="https://www.flaticon.com/svg/vstatic/svg/2111/2111425.svg?token=exp=1615134180~hmac=92d1c0ef5fc6706d4deee847e832a00e" class="w-4 pt-0.5"></a>
    <p class="pr-2">Phil Billingsby 2021 ©</p>
  </span>
</footer>