<div class="grid text-center grid-cols-3 fixed w-full bg-gray-100">
  <ul class="nav text-center">
  <li class="block pr-3 h-8 w-auto inline-block">
    <a class="text-green-700" href="/">Home</a>
  </li>
  <li class="block h-8 pr-3 w-auto inline-block">
    <a class="text-green-700" href="/algorithms/new">New</a>
  </li>
  <li class="block h-8 pr-3 w-auto inline-block">
    <a class="text-green-700" href="/articles">Articles</a>
  </li>
  <li class="block h-8 pr-3 w-auto inline-block">
    <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'text-green-700' %>
  </li>
  </ul>
  <h2>ALGORITHMDB</h2>
  <div>
  Logged in as: <span class="text-green-700"><%= current_user.username %></span>
  </div>
</div>